version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - k6-grafana-net
    restart: always

  mongodb:
    image: mongo:7
    container_name: mongodb_db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=ecommerce_logdb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.3
    container_name: elasticsearch_engine
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    restart: always

  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=k6
    volumes:
      - ./influxdb-data:/var/lib/influxdb
    networks:
      - k6-grafana-net
    restart: unless-stopped

  grafana:
      image: grafana/grafana:latest
      container_name: grafana
      ports:
        - "3000:3000"
      environment:
        - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
        - GF_AUTH_ANONYMOUS_ENABLED=true
        - GF_AUTH_BASIC_ENABLED=false
      volumes:
        - ./grafana_data:/var/lib/grafana
        - ./provisioning/datasources:/etc/grafana/provisioning/datasources
        - ./provisioning/dashboards:/etc/grafana/provisioning/dashboards
      depends_on:
        - influxdb
      networks:
        - k6-grafana-net
      restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus-calendars-container
    volumes:
      - ./prometheus-local.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - k6-grafana-net

  postgres-exporter:
    image: wrouesnel/postgres_exporter:v0.8.0
    platform: linux/amd64
    container_name: postgres_exporter
    environment:
      - DATA_SOURCE_NAME=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/ecommerce_db?sslmode=disable
    ports:
      - "9187:9187"
    networks:
      - k6-grafana-net
    restart: unless-stopped

networks:
  k6-grafana-net:
    driver: bridge

volumes:
  postgres_data:
  mongodb_data:
  redis_data:
  es_data:
  grafana_data:
  influxdb-data: