server:
  port: 8080

---

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username : ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  elasticsearch:
    client:
      rest:
        uris: ${SPRING_ELASTICSEARCH_URIS}

---

data:
  mongodb:
    uri: ${SPRING_MONGODB_URI}

---

data:
  redis:
    host: ${SPRING_REDIS_HOST}
    port: 6379

session:
  store-type: redis

---

jwt:
  secret: ${JWT_SECRET_KEY}

---

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: true
    operations-sorter: alpha
    tags-sorter: alpha

management:
  endpoints:
    web:
      exposure:
        include: health, beans, httptrace, info, metrics, prometheus